spring:
  application:
    name: user-center
  profiles:
    default: local
  flyway:
    baseline-on-migrate: true
    locations: classpath:db/migration

management:
  endpoints:
    web:
      exposure:
        include: "health,info"
